<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOPE ALIVE ACADEMY</title>
  </head>
  <body>
    <h1>HOPE ALIVE ACADEMY</h1>
    <br />
    <hr />
    <br />
    <form action="">
      <p>Upload School certificate:</p>
      <input type="file" />
      <br />
      <p>Upload Letter:</p>
      <input type="file" /><br />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="Write Letter"
      ></textarea
      ><br />
      <button><a href="/templates/Wizard Survey1.html">Previous</a></button>
      <button><a href="mailto:isrealdegreat@gmail.com">Submit</a></button>
    </form>
  </body>
</html>
