<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOPE ALIVE ACADEMY</title>
  </head>
  <body>
    <h1>HOPE ALIVE ACADEMY</h1>
    <br />
    <hr />
    <br />
    <div id="survey1" class="survey1">
      <br />
      <form action="">
        <input type="text" placeholder="NAME" />
        <br />
        <input type="number" placeholder="AGE" />
        <br />
        <input type="date" placeholder="D.O.B" />
        <br />
        <input type="email" placeholder="EMAIL" /><br />
        <button><a href="/templates/Wizard Survey1.html">Previous</a></button>
        <button><a href="/templates/Wizard Survey2.html">Next</a></button>
      </form>
    </div>
  </body>
</html>
