<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOPE ALIVE ACADEMY</title>
  </head>
  <body>
    <h1>HOPE ALIVE ACADEMY</h1>
    <br />
    <hr />
    <br />
    <div id="survey2" class="survey2">
      <form action="">
        <div>
          <h2>GENDER</h2>
          <input type="radio" id="male" name="gender" value="male" />
          <label for="male">Male</label><br />

          <input type="radio" id="female" name="gender" value="female" />
          <label for="female">Female</label><br />

          <input type="radio" id="other" name="gender" value="other" />
          <label for="other">Other</label>
        </div>

        <input type="text" placeholder="COURSE OF STUDY" />
        <br />
        <input type="text" placeholder="FACULTY OF COURSE" /><br />

        <button><a href="/templates/Wizard Survey1.html">Previous</a></button>
        <button><a href="/templates/Wizard Survey3.html">Next</a></button>
      </form>
    </div>
  </body>
</html>
